  /* header */
  .header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

  /* top menu */
    nav ul { 
      list-style-type: none; 
      display: flex; 
      background-color: #697565;
    }
    nav ul li {
      margin: 0;
    }
    nav ul li a {
      display: block;
      color: #ECDFCC;
      padding: 14px 20px;
      text-decoration: none;

    }
    nav ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #444;
      flex-direction: column;
    }
    nav ul li a:hover {             
      background-color: #3C3D37;
    }
        nav ul li a:active {             
      background-color: #181C14;
    }


    /* wh location */

.box {
    width: 1920px;
    height: 800px;
    background: #335c4c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
margin: 0;
    background-color: #181C14; 
}